<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bomb0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{228,195}</string>
				<key>spriteSourceSize</key>
				<string>{228,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{228,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{228,195}</string>
				<key>spriteSourceSize</key>
				<string>{228,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{228,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{62,41},{166,154}}</string>
				<key>spriteOffset</key>
				<string>{-31,0}</string>
				<key>spriteSize</key>
				<string>{228,195}</string>
				<key>spriteSourceSize</key>
				<string>{166,154}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,195},{166,154}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{199,169},{29,26}}</string>
				<key>spriteOffset</key>
				<string>{-5,-37}</string>
				<key>spriteSize</key>
				<string>{228,195}</string>
				<key>spriteSourceSize</key>
				<string>{29,26}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{166,195},{29,26}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{228,195},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-33,-24}</string>
				<key>spriteSize</key>
				<string>{228,195}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{195,195},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>bomb.png</string>
				<key>textureFileName</key>
				<string>bomb</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
