<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1630000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{387,375}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{387,375}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{387,375}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{387,375}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{387,375}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{387,375}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{387,375}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{387,375}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{387,375}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{387,375}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{387,375}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{387,375}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{387,375}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{387,375}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{387,375}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{387,375}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{387,375}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{387,375}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{387,375}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{387,375}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{387,375}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{3,1},{384,376}}</string>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{384,376}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{387,0},{384,376}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{7,0},{380,377}}</string>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{380,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,376},{380,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{10,0},{377,377}}</string>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{377,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{380,376},{377,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{7,0},{380,377}}</string>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{380,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,753},{380,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{3,1},{384,376}}</string>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{384,376}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{380,753},{384,376}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{387,375}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{387,375}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{387,375}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{3,1},{384,376}}</string>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{384,376}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{387,0},{384,376}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{7,0},{380,377}}</string>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{380,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,376},{380,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{10,0},{377,377}}</string>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{377,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{380,376},{377,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{10,0},{377,377}}</string>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{377,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,1130},{377,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{10,0},{377,377}}</string>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{377,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,1130},{377,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{10,0},{377,377}}</string>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{377,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,1130},{377,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{10,0},{377,377}}</string>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{377,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,1130},{377,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{10,0},{377,377}}</string>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{377,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{380,376},{377,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{7,0},{380,377}}</string>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{380,377}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,753},{380,377}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{3,1},{384,376}}</string>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{384,376}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{380,753},{384,376}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1630023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{387,375}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{387,377}</string>
				<key>spriteSourceSize</key>
				<string>{387,375}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{387,375}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>celebrate_girl.png</string>
				<key>textureFileName</key>
				<string>2</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
