<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>haimab0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,126},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,126},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,126},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>haimab0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{71,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,132}</string>
				<key>spriteSourceSize</key>
				<string>{71,126}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{71,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>haimab.png</string>
				<key>textureFileName</key>
				<string>haimab</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
