<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>popo0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,205},{46,113}}</string>
				<key>spriteOffset</key>
				<string>{-22,-205}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{46,113}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{46,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{67,233},{34,85}}</string>
				<key>spriteOffset</key>
				<string>{-34,-195}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{34,85}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{46,0},{34,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{62,254},{39,64}}</string>
				<key>spriteOffset</key>
				<string>{-35,-185}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{39,64}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{80,0},{39,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{52,269},{49,49}}</string>
				<key>spriteOffset</key>
				<string>{-33,-179}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{49,49}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{119,0},{49,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{45,266},{56,52}}</string>
				<key>spriteOffset</key>
				<string>{-32,-170}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{56,52}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{168,0},{56,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{41,263},{60,55}}</string>
				<key>spriteOffset</key>
				<string>{-32,-163}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{60,55}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{224,0},{60,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{42,260},{59,58}}</string>
				<key>spriteOffset</key>
				<string>{-34,-158}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{59,58}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{284,0},{59,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{57,267},{44,51}}</string>
				<key>spriteOffset</key>
				<string>{-32,-150}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{44,51}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{343,0},{44,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{68,265},{33,53}}</string>
				<key>spriteOffset</key>
				<string>{-31,-136}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{33,53}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{387,0},{33,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{53,265},{48,53}}</string>
				<key>spriteOffset</key>
				<string>{-14,-130}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{48,53}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{420,0},{48,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{40,266},{61,52}}</string>
				<key>spriteOffset</key>
				<string>{0,-130}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{61,52}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,113},{61,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{43,242},{58,76}}</string>
				<key>spriteOffset</key>
				<string>{-5,-98}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{58,76}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,113},{58,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{52,215},{49,103}}</string>
				<key>spriteOffset</key>
				<string>{-17,-70}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{49,103}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{119,113},{49,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{50,193},{51,125}}</string>
				<key>spriteOffset</key>
				<string>{-17,-47}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{51,125}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{168,113},{51,125}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{48,241},{53,77}}</string>
				<key>spriteOffset</key>
				<string>{-15,-95}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{53,77}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{219,113},{53,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{39,236},{62,82}}</string>
				<key>spriteOffset</key>
				<string>{-10,-81}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{62,82}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{272,113},{62,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{22,235},{79,83}}</string>
				<key>spriteOffset</key>
				<string>{-5,-70}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{79,83}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{334,113},{79,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{7,237},{94,81}}</string>
				<key>spriteOffset</key>
				<string>{0,-63}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{94,81}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{413,113},{94,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{4,241},{97,77}}</string>
				<key>spriteOffset</key>
				<string>{-2,-58}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{97,77}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,238},{97,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{4,250},{97,68}}</string>
				<key>spriteOffset</key>
				<string>{-4,-57}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{97,68}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{97,238},{97,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{14,247},{87,71}}</string>
				<key>spriteOffset</key>
				<string>{-6,-45}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{87,71}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{194,238},{87,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{22,246},{79,72}}</string>
				<key>spriteOffset</key>
				<string>{-8,-34}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{79,72}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{281,238},{79,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{30,244},{71,74}}</string>
				<key>spriteOffset</key>
				<string>{-10,-23}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{71,74}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{360,238},{71,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{38,243},{63,75}}</string>
				<key>spriteOffset</key>
				<string>{-12,-12}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{63,75}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{431,238},{63,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{48,240},{53,78}}</string>
				<key>spriteOffset</key>
				<string>{-15,0}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{53,78}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,315},{53,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0040</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0041</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0042</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0043</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0044</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0045</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0046</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0047</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0048</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0049</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0050</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0051</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0052</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0053</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0054</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0055</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0056</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0057</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0058</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>popo0059</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{101,318},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-41,-133}</string>
				<key>spriteSize</key>
				<string>{101,318}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{53,315},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>popo.png</string>
				<key>textureFileName</key>
				<string>popo</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
