<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ldgirlwalk10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,0},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,0},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{495,0},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{660,0},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{825,0},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,233},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,233},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,233},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{495,233},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{660,233},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{495,0},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{825,233},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,466},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,466},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ldgirlwalk10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,233}</string>
				<key>spriteSourceSize</key>
				<string>{165,233}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{165,233}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,705}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>girls.png</string>
				<key>textureFileName</key>
				<string>girls</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
