<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>s2beareye0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,34},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,34},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,68},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,68},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,34},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,34},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,68},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,68},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,34},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,34},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0040</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,68},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0041</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,68},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0042</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0043</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0044</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0045</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0046</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0047</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0048</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0049</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0050</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0051</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0052</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0053</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0054</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0055</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0056</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0057</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0058</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0059</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0060</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0061</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0062</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0063</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0064</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0065</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0066</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0067</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0068</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0069</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0070</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0071</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0072</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0073</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2beareye0074</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{64,128}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>s2eye.png</string>
				<key>textureFileName</key>
				<string>s2eye</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
