<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>s2boar0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,115},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,115},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,230},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,230},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,115},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,115},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,230},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,230},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,115},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0040</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,115},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0041</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,230},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0042</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,230},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0043</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0044</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0045</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0046</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0047</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0048</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0049</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0050</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0051</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0052</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0053</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0054</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0055</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0056</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0057</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0058</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0059</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0060</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0061</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0062</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0063</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0064</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0065</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0066</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0067</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0068</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0069</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0070</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0071</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0072</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0073</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2boar0074</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{233,115}</string>
				<key>spriteSourceSize</key>
				<string>{233,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{233,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,375}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>s2boar.png</string>
				<key>textureFileName</key>
				<string>s2boar</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
