<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>s2fountain0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2fountain0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,374}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{356,374}</string>
				<key>spriteSourceSize</key>
				<string>{356,374}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{356,0},{356,374}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{783,405}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>s2fountain.png</string>
				<key>textureFileName</key>
				<string>s2fountain</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
