<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>s2hippo0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{116,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{116,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,120},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,120},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{116,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{116,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,120},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,120},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{116,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{116,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,120},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,120},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0040</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0041</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0042</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0043</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0044</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0045</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0046</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0047</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0048</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0049</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0050</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0051</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0052</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0053</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0054</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0055</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0056</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0057</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0058</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0059</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0060</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0061</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0062</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0063</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0064</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0065</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0066</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0067</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0068</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0069</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0070</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0071</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0072</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0073</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>s2hippo0074</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,120}</string>
				<key>spriteSourceSize</key>
				<string>{116,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{116,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>s2hippo.png</string>
				<key>textureFileName</key>
				<string>s2hippo</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
