<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frogsx10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{110,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{220,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,112},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{110,112},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{220,112},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,112},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,224},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>frogsx10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,112}</string>
				<key>spriteSourceSize</key>
				<string>{110,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{110,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,358}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>frog1.png</string>
				<key>textureFileName</key>
				<string>frog1</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
