<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>grass10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{98,0},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,0},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{294,0},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{392,0},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,128},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{98,128},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,128},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{294,128},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{392,128},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,256},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{98,256},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,256},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{294,256},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{392,256},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,384},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{98,384},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,128},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,384},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{294,384},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{392,384},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,512},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{98,512},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,512},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{294,512},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{392,512},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{392,512},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>grass10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,128}</string>
				<key>spriteSourceSize</key>
				<string>{98,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{98,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,663}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>grass1.png</string>
				<key>textureFileName</key>
				<string>grass1</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
