<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lotusx10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{92,0},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{184,0},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,0},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,0},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,60},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{92,60},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{184,60},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,60},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,60},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,60},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{184,60},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{92,60},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{92,60},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,120},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,0},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{92,120},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{92,0},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{184,120},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,60}</string>
				<key>spriteSourceSize</key>
				<string>{92,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{92,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,203}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>lotus.png</string>
				<key>textureFileName</key>
				<string>lotus</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
