<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lotusx20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{69,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{69,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{69,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{69,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{138,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{138,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{207,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{207,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{345,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{345,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{138,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{138,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{138,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{138,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{69,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{69,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{414,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{414,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{483,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{483,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lotusx20024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,90}</string>
				<key>spriteSourceSize</key>
				<string>{69,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{69,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{595,90}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>lotusx2.png</string>
				<key>textureFileName</key>
				<string>lotusx2</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
