<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>seawaves10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,0},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,0},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,0},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,0},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,48},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,48},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,48},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,48},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,48},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,96},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,96},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,96},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,96},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,96},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,144},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,144},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,144},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,144},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,144},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,192},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,192},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,192},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,192},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,192},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,240},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,240},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,240},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>seawaves10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,48}</string>
				<key>spriteSourceSize</key>
				<string>{90,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,240},{90,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,309}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>seawaves1.png</string>
				<key>textureFileName</key>
				<string>seawaves1</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
