<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>buttleflys120000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,37}</string>
				<key>spriteSourceSize</key>
				<string>{33,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>buttleflys120001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,37}</string>
				<key>spriteSourceSize</key>
				<string>{33,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{33,0},{33,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>buttleflys120002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,37}</string>
				<key>spriteSourceSize</key>
				<string>{33,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{66,0},{33,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>buttleflys120003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,37}</string>
				<key>spriteSourceSize</key>
				<string>{33,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,37},{33,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>buttleflys120004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,37}</string>
				<key>spriteSourceSize</key>
				<string>{33,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{33,37},{33,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>buttleflys120005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,37}</string>
				<key>spriteSourceSize</key>
				<string>{33,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{66,37},{33,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>buttleflys120006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,37}</string>
				<key>spriteSourceSize</key>
				<string>{33,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,74},{33,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>buttleflys120007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,37}</string>
				<key>spriteSourceSize</key>
				<string>{33,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{33,74},{33,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>buttleflys120008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,37}</string>
				<key>spriteSourceSize</key>
				<string>{33,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{33,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>yellowbuttlefly.png</string>
				<key>textureFileName</key>
				<string>yellowbuttlefly</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
