<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>loadingpopo0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,0},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{258,0},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,60},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,60},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{258,60},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,120},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,120},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{258,120},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,180},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,180},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{258,180},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,240},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,240},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{258,240},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,300},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,300},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{258,300},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,360},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,360},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{258,360},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,420},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,420},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>loadingpopo0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{258,420},{129,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>loading-popo.png</string>
				<key>textureFileName</key>
				<string>loading-popo</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
