@CHARSET "UTF-8";

.highlight {
	display: table; 
	border-collapse: collapse;
} 

.highlight .row {
 	display: table-row; 
}

.highlight .row .cell {
 	display: table-cell;
 	border: 1px solid #000;
	padding: 10px 15px;
	line-height: 30px;
	word-spacing: 20px;
}

.highlight .row .cell:nth-child(2) {
	width: 400px;
}

i {
	font-style:normal;
	cursor:pointer;
}

i.answer1 {
	background-color: yellow;
}

i.yes {
	background-color: green;
}


i.no {
	color: black;
	background-color: red;
}
i.answer2 {
	background-color: #cc0;
}
i.answer3 {
	background-color: #c0c;
}
i.answer4 {
	background-color: #0cc;
}
#select_color {
	display:block;margin-bottom:8px; height: 20px;
}
#select_color li {float: left; width: 30px; height: 20px; margin: 0 5px; border: solid 1px #fff;cursor: pointer;}
#select_color li.answer1 {
	background-color: yellow;
}
#select_color li.answer2 {
	background-color: #cc0;
}
#select_color li.answer3 {
	background-color: #c0c;
}
#select_color li.answer4 {
	background-color: #0cc;
}
i.shown {
	color: white;
}